*{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100%;
}

#linechart{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: #1A1C22;
    color: ;

    border-radius: 10px;
}