*{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100%;
    background-color: #282C35;
}

#progresscard{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: #1A1C22;
    color: #9A9A9A;

    padding: 1%;
    height: fit-content;

    flex-basis: fit-content;
    flex-grow: 1;
        
    border-radius: 10px;
}

#cardnav{
    display: inherit;       
    flex-direction: row;
    align-items: inherit;
    justify-content: space-between;

    width: 100%;
    height: 20%;

    padding-bottom:3% ;
}

#cardtitl{
    display: inherit;
    align-items: center;
    justify-content: baseline;
    
    font-size: 18px;
    color: white;
    
    width: 20%;
}

#progresscard>ul:nth-child(2){
    display: inherit;
    align-items: inherit;
    justify-content: space-between;
    flex-direction: column;

    height: 100%;
    width: 100%;
    list-style-type: none;
}

.cardlist{
    display: inherit;
    align-items: inherit;
    justify-content: space-around;
    flex-basis: fit-content;
    
    font-size: 12px;

    width: 100%;
    border: 1px solid white;
}

.icn{
    display: inherit;
    align-items: inherit;
    justify-content: center;
    flex-basis: fit-content;
    /* flex-grow: 1; */
    height: 100%;

    padding: 5%;
    border-radius: 10px;
    background-color: #282C35;
    border: 1px solid yellow;
}

.icncntnt{
    display: inherit;
    align-items: inherit;
    flex-direction: column;
    flex-basis: fit-content;
    flex-grow: 1;
}

#prgrsbr{
    display: block;
    position: relative;
    height: 5px;
    width: 100%;
    border-radius: 2px;
    background-color: #282C35;
    /* border: 1px solid white; */
}

#prgrsbr>div{
    height: inherit;
    background-color: #1FCB4F;
    width: 40%;
}

