* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #282C35;
    color: white;

    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cards,
.status,
.blk {
    background-color: #1A1C22;
    /* border: 1px solid white; */
    border-radius: 10px;
}

section,article{
    height: 100vh;
}
article{
    display: flex;
    width: 100%;
    flex-direction: column;
}
/* -----------------------------------Section---------------------------------- */

section {
    background-color: #1A1C22;
    width: 16%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-right: 2rem;
}

#logo {
    display: inherit;
    flex-direction: row;
    align-items: center;
    justify-content: center ;
    padding: 10%;
    height: 9%;
}

#logo>* {
    font-size: 2em;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

#logo>img {
    height: 40px;
}

section>nav {
    display: flex;
    height: 85%;

}

section>nav>ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style-type: none;
}

.opt {
    /* border: 1px  solid white; */
    display: flex;
    gap: 20px;
    padding: 15px;
}
.optnm:hover{
    color: #1FCB4F;
}
.opt>p {
    color: #A9A9A9;
}




/* -----------------------------------Header---------------------------------- */
header {
    background-color: #1A1C22;
    height: 10%;
    width: 100%;
    /* height: 74.94px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: none;
}

.ttl {
    padding-left: 30px;
    font-weight: 600;
    font-size:24px;
    line-height: 30px;
    font-weight: 500;
}

#hdr {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding-right: 30px;
}

#srchbr {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-shrink: 1;
    width: 30vh;
}

#srch {
    border: none;
    height: inherit;
    width: 100%;
}

#srch:placeholder-shown {
    font-size: x-small;
    padding: 5px;
    padding-left: 10px;
}

#srchbr,
#srch {
    padding: 2px;
    background-color: #282C35;
}

#srchicn {
    width: fit-content;
}

#srchbr>img {
    padding-right: 10px;
}

#srchbr>img,
#notify {
    /* border: 1px solid white; */
    color: #9E9E9E;
    object-fit: contain;
    height: 19.98px;
    width: 19.98px;
}


/* -----------------------------------Main---------------------------------- */


main {
    /* border: 1px solid white; */
    height: 90%;
    width: 100%;
    background-color: #282C35;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;   
}
/* main>div{
    border: 1px solid white;
} */
#ctnrs1 {
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    width: inherit;
    height: 15%;
    align-items: end;
    justify-content: space-evenly;
    /* border: 1px solid white; */
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 16%;;
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
    padding: 20px;
}

.crdicn {
    background-color: #282C35;
    padding: 10px;
    width: fit-content;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.crdttl {

    font-size: 12px;
    color: #9E9E9E;
}

.crdnm {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
}

.crdprc {
    font-size: 27px;
}
/* ---------------------------- */

#ctnrs{
    border: 1px solid white;
    display: flex;
    width: 90%;
    height: 70%;
    align-items: center;
    justify-content: space-evenly;
}

/* ---------------------------- */
#ctnrs2 {   
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column; 
    /* border: 1px solid white; */
    width: 60%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.ststtl {
    font-size: 15px;
}

.clrnm {
    font-size: 10px;
    color: #9E9E9E;
}

.clricn {
    width: 7px;
    height: 7px;
    border-radius: 50%;
}
.G{
    background-color: #1FCB4F;
}
.Y{
    background-color: #FFC01E;
}

#ovrviw{
    width:inherit;
    height: 50%;
}

#ovrviw,
#actvt,
#prgrs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

#ovrviw>nav,
#actvt>nav{
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    /* border: 1px solid white; */
}
/* =========================== */
#card2 {
    display:flex;
    align-items: center;
    border: 1px solid white;
    width: inherit;
    height: 30%;
    justify-content: space-between;
    flex-direction: row;
}

#actvt,#prgrs{
    width: 44%;
}

.stsnav {
    display: inherit;
    align-items: center;
    gap: 5px;
    justify-content: space-evenly;
}

.stsnav>select{
    background-color: #1A1C22;
    border-radius: 10px;
    color: #9A9A9A;
    font-size: 10px;
}

.stsimg>img {
    object-fit: contain;
}

#prgrs>.ststtl{
    width: 100%;

}

#ctnr{
    border: 1px solid white;
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    /* border: 1px solid white; */
}

#ctnr>li{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.payicn{
        background-color: #282C35;
        padding: 5px;
        width: fit-content;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
}
.payicn>img{
    height: 25px;
}
.paystts{
    display: flex;
    flex-direction: column;
    padding-right: 15%;
    width: 70%;
}
.paystts>span{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.paystts>span>label{
    font-size: 10px;
}
.paystts>span>label>p{
    color: #A9A9A9;
    font-size: 10px;
    display: inline;
}
/*  */
#prgrsbr{
    display: block;
    position: relative;
    height: 5px;
    width: 100%;
    border-radius: 2px;
    background-color: #282C35;
    /* border: 1px solid white; */
}

#prgrsbr>div{
    height: inherit;
    background-color: #1FCB4F;
    width: 40%;
}
/* --------------------------------- */



#ctnrs3 {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 26%;
    justify-content: space-evenly;
}

.blk{
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.blk>span{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10%;
}
.blkicn{
    background-color: #282C35;
    padding: 10px;
    width: fit-content;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}



#cdtcrd{
    display: inherit;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 10px;
}
#cdtcrd>span{
display: flex;    
flex-direction: column;
background-color: #282C35;
padding: 10px;
align-items: baseline;
justify-content: space-between;
gap: 15px;
}
#crdbl{
    background-color: #3D4149;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    padding: 5%;
}
#crdbl>span{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: 100%;
}
#crdbl span ~ span{
    align-items: end;
    justify-content: baseline;
}
#crdbl>span>label{
    color: #73777e;
    font-size: 7px;
    padding-bottom: 3%;
}
/* ========================= */
#blk2{
    min-width: 35vh;
    font-size: 15px;
}
#blk2>span>span{
    font-size: 12px;
    color: #1FCB4F;
}
#trns{
    display: flex;
    align-items: center;
    justify-content: center;
}
#trns>ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 15px;
}
#trns>ul,.trnsli{
    width: 100%;
}
.trnsli{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom-width: .8px;
    border-bottom-color:#383838;
    border-bottom-style: solid ;
}
.prfl{
    height: fit-content;
    width: fit-content;
}
.prflnm{
    display: flex;
    align-items: baseline;
    gap: 5px;
    font-size: 12px;
    flex-direction: column;
    width: 70%;
    padding-left: 3%;
}

.prflnm>label{
    font-size: 10px;
    color: #9E9E9E;
}

.prc{
    font-size: 12px;
    color: #20ef5b;
}