* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    /* box-sizing: border-box; */
}
html{
    height: 100%;
}
html,body{
    width: 100%;
    /* border: 1px solid white; */
}
body {
    background-color: #282C35;
    color: white;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    /* border: 1px solid yellow; */
}

.cards,
.status,
.blk {
    background-color: #1A1C22;
    /* border: 1px solid white; */
    border-radius: 10px;
}

section,article{
    height: 100%;
    /* border: 1px solid red; */
    }
article{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;

    width: 84%;
    flex-direction: column;
}
     

/* -----------------------------------Section---------------------------------- */

section {
    background-color: #1A1C22;
    width: 16%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;

}

#logo {
    display: inherit;
    flex-direction: row;
    align-items: center;
    justify-content: baseline ;
    height: 12%;
    width: 85%;
    padding-left: 10%;
}

#logo>p{
    font-size: xx-large;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    width: 40%;
    /* border: 1px solid white; */
}

#logo>img {
    height: 50%;
    padding: 2%;
}

section>nav {
    display: flex;
    height: 88%;
    width: 100%;
    align-items: center;
    justify-content: start;
}

section>nav>ul {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    align-items: baseline;
    justify-content:start;
    padding-left: 10%;
    padding-top: 10%;
}

.opt {
    /* border: 1px  solid white; */
    display: flex;
    align-items: center;
    width: 95%;
    height: 5%;
    justify-content: baseline;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.opticn{
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
    padding-left: 2%;
    padding-right: 6%;
}
.opt>p {
    color: #A9A9A9;
    font-size: 14px;
}

.optnm:hover{
    color: #1FCB4F;
}





/* -----------------------------------Header---------------------------------- */
header {
    background-color: #1A1C22;
    height: 10%;
    width:100%;
    /* border: 1px solid white; */

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ttl {
    display: flex;
    align-items: center;
    justify-content: start;
    font-size:24px;
    font-weight: 500;
    /* border: 1px solid red; */
    height: 100%;
    width: 65%;
}
.ttl>p{
    padding-left: 5%;
}
#hdr {
    height: 100%;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#srchbr {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    height: 40%;
    width: 60%;
}

#srch {
    border: none;
    padding: 10%;
    height:30%;
    width: 90%;
}

#srch:placeholder-shown {
    font-size: x-small;
    padding-left: 5%;
}

#srchbr,
#srch {
    background-color: #282C35;
}


#srchbr>img{
    padding-right: 5%;
    width: 8%;
    height: 50%;
}
#notify {
    /* border: 1px solid white; */
    color: #9E9E9E;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
    width: 10%;
}
#notify>img{
    height: 25%;
}
#profl{
    /* border: 1px solid white; */
    display: flex;
    height: 100%;
    width: 10%;
    align-items: center;
    justify-content: center;
}
#profl>img{
    height: 50%;
}
/* -----------------------------------Main---------------------------------- */


main {
    /* border: 1px solid white; */
    height: 90%;
    width: 100%;
    background-color: #282C35;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;   
}
/* main>div{
    border: 1px solid white;
} */
#ctnrs1 {
    /* border: 1px solid white; */
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 14%;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid white; */
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 18%;
    /* border: 1px solid white; */
}

.crdicn {
    background-color: #282C35;
    padding: 10px;
    width: fit-content;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.crdttl {

    font-size: 12px;
    color: #9E9E9E;
}

.crdnm {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
}

.crdprc {
    font-size: 27px;
}
/* ---------------------------- */





#ctnrs{
    /* border: 1px solid white; */
    display: flex;
    width: 100%;
    height: 80%;
    align-items: center;
    justify-content: space-evenly;
}
#ctnrs2 {   
    display: flex;
    flex-direction: column; 
    /* border: 1px solid white; */
    width: 55%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

/* =========================================== */


#chartcard{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: #1A1C22;
    color: #9A9A9A;

    padding: 1%;

    height: fit-content;

    flex-basis: fit-content;
    /* flex-grow: 1; */
    border-radius: 10px;
}

#cardnav{
    display: inherit;       
    flex-direction: row;
    align-items: inherit;
    justify-content: space-between;

    width: 100%;
    height: 20%;

    padding-bottom:3%;
}

#cardtitl{
    display: inherit;
    align-items: center;
    justify-content: baseline;
    
    font-size: 18px;
    color: white;
    
    padding-left: 2%;

    flex-basis: fit-content;
    flex-grow: 1;

}

#cardopt,#drpdwn>select{
    font-size: 12px;
}

#cardopt{
    display: inherit;
    align-items: inherit;
    justify-content: space-between;
    width: 60%;
    height: 100%;
}

#chartopt{
    display: inherit;
    align-items: inherit;
    justify-content: end;
    height: 100%;
    flex-basis: fit-content;
    flex-grow: 1;
}

#chartopt>span{
    padding: 1.5%;
    border-radius: 50%;
}
#chartopt>span:nth-child(1){
    background-color: #1FCB4F;
}
#chartopt>span:nth-child(3){
    background-color: #FFC01E;
}

#chartopt>div{
    height: 100%;
    display: flex;
    align-items: center;
    justify-items: end;
    padding-right: 3%;
    padding-left: 2%;

    flex-basis: fit-content;
}

#drpdwn{
    width: 30%;
    display: inherit;
    align-items: center;
    justify-content: end;
    padding-right: 2%;
}

#drpdwn>select{
    border-radius: 5px;
    padding: 4%;
    background-color: #1A1C22;
    color: #9A9A9A;
}

#chart{
    display: inherit;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 80%;
}
#chart>img{
    width: 100%;
    height: 100%;
    object-fit: contain;  /* for images */
}


/* ================================= */
#actvt,
#prgrs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

#actvt>nav{
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    /* border: 1px solid white; */
}

#card2 {
    display:flex;
    align-items: center;
    /* border: 1px solid white; */
    width: 100%;
    height: 47%;
    justify-content: space-between;
    flex-direction: row;
}

#actvt,#prgrs{
    height: 100%;;
    width: 44%;
}

#prgrs>.ststtl{
    width: 100%;

}

#ctnr{
    /* border: 1px solid white; */
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    /* border: 1px solid white; */
}

#ctnr>li{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.payicn{
        background-color: #282C35;
        padding: 5px;
        width: fit-content;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
}
.payicn>img{
    height: 25px;
}
.paystts{
    display: flex;
    flex-direction: column;
    padding-right: 15%;
    width: 70%;
}
.paystts>span{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.paystts>span>label{
    font-size: 10px;
}
.paystts>span>label>p{
    color: #A9A9A9;
    font-size: 10px;
    display: inline;
}
/*  */
#prgrsbr{
    display: block;
    position: relative;
    height: 5px;
    width: 100%;
    border-radius: 2px;
    background-color: #282C35;
    /* border: 1px solid white; */
}

#prgrsbr>div{
    height: inherit;
    background-color: #1FCB4F;
    width: 40%;
}
/* --------------------------------- */



#ctnrs3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 22%;
    justify-content: space-between;
}

.blk{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 15px;
}
.blk>span{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10%;
}
.blkicn{
    background-color: #282C35;
    padding: 10px;
    width: fit-content;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}



#cdtcrd{
    display: inherit;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 10px;
}
#cdtcrd>span{
display: flex;    
flex-direction: column;
background-color: #282C35;
padding: 10px;
align-items: baseline;
justify-content: space-between;
gap: 15px;
}
#crdbl{
    background-color: #3D4149;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    padding: 5%;
}
#crdbl>span{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: 100%;
}
#crdbl span ~ span{
    align-items: end;
    justify-content: baseline;
}
#crdbl>span>label{
    color: #73777e;
    font-size: 7px;
    padding-bottom: 3%;
}
/* ========================= */
#blk2{
    min-width: 35vh;
    font-size: 15px;
}
#blk2>span>span{
    font-size: 12px;
    color: #1FCB4F;
}
#trns{
    display: flex;
    align-items: center;
    justify-content: center;
}
#trns>ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 15px;
}
#trns>ul,.trnsli{
    width: 100%;
}
.trnsli{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom-width: .8px;
    border-bottom-color:#383838;
    border-bottom-style: solid ;
}
.prfl{
    height: fit-content;
    width: fit-content;
}
.prflnm{
    display: flex;
    align-items: baseline;
    gap: 5px;
    font-size: 12px;
    flex-direction: column;
    width: 70%;
    padding-left: 3%;
}

.prflnm>label{
    font-size: 10px;
    color: #9E9E9E;
}

.prc{
    font-size: 12px;
    color: #20ef5b;
}