:root{
    --color-60:#1A1C22;
    --color-40:#1FCB4F;
    --color-15:#282C35;
    --color-5:#3D4149;

    --card-border-radius:5px;
    --icon-border-radius:5px;

    --card-padding:10px;
    --icon-padding:5px;
    --container-padding:30%;

    --box-shadows:0 0 5px 2px #00ff4879;

}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden;     */
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.05em;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
}

/* ???????????????????????????????????????  Universal   ???????????????????????????????????????????????????? */

.nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: baseline;
}


.list {
    list-style: none;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    gap: 3px;
    justify-content: baseline;
}

.list-opt {
    /* border:1px solid white; */
    display: flex;
    align-items: center;
    justify-content: baseline;
    padding: 2%;
}

img {
    object-fit: contain;
}


.icn {
    display: flex;
    align-items: center;
    justify-content: center;
}



/* ===================================== Aside (side bar) ========================================= */


#side-bar {
    width: 20%;
    height: 100vh;
    border: 1px solid black;
    background-color: var(--color-60);
    color: white;
    display: flex;
    align-items: baseline;
    flex-direction: column;
    align-self: baseline;
    /* visibility: hidden;
    position: absolute; */
}

#logo {
    /* border: 1px solid white; */
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 700;
}


/* #logo>img{
    border: 1px solid white;
} */
#logo>div {
    padding-left: 2%;
}

#side-bar-list {
    width: 100%;
    height: 85%;
    color: #A9A9A9;
    align-items: center;
    gap: 10px;
}

.side-bar-opt {
    width: 60%;
    padding: 0%;
}
.side-bar-opt:hover{
    color:#1FCB4F ;
}

.side-bar-hover {
    padding-left: 15px;
    font-size: clamp(12px, 15px, 20px);
}

.side-bar-icn {
    /* border: 1px solid white; */
    padding-top: 4%;
}


/* ================================ Section (Main Container)============================================= */

#main-container {
    width: 85%;
    height: 100vh;
    background-color: #282C35;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: baseline;
    display: none;
}


/*=================================== Header ================================================= */


header {
    width: 100%;
    height: clamp(8%, 8%, 10%);
    background-color: var(--color-60);
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
}

#header-title {
    color: white;
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: baseline;
    padding-left: 2%;
    font-size: clamp(1rem, 1.5svw, 2rem);
    font-weight: 550;
}

#header-nav {
    width: 70%;
    /* border: 1px solid white; */
    justify-content: end;
    gap: 3%;
    padding-right: 3%;
}

#search-bar {
    color: white;
    height: 34px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: end;
    border-radius: 10px;
    background-color: #282C35;
    position: relative;
    padding: 5px;
}

#search-bar>input {
    background-color: #282C35;
    border-radius: 10px;
    width: 100%;
    border: none;
    /* border:1px solid white */
}

#search-bar>input:placeholder-shown {
    padding-left: 5px;
    color: #9E9E9E;
    font-size: 12px;
}

#search-bar>input:active {
    border: none;
}

#search-bar>input:focus {
    outline: none;
}

#search-bar>img {
    padding-right: 5%;
    position: absolute;
    float: right;
}

#notify-icn {
    color: rgba(255, 255, 255, 0.451);
    padding: .5%;
    border-radius: 50%;
}

#header-profl {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}




/* -------------------------------  Card Design  ----------------------------------------- */
#main-content {
    background-color: #3E4149;
    width: clamp(85%, 80%, 80%);
    height: 90%;
    align-self: flex-end;
}

.card-container {
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    align-content: space-evenly;
    padding: 5px;
}

.card {
    height: fit-content;
    width: fit-content;
    padding: 15px;
    /* flex-grow: 0 1; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    /* border: 1px solid white; */
    background-color: var(--color-60);
    color: white;
}



.card-nav {
    width: 100%;
    height: 20%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: baseline;
    flex-direction: row;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
    padding-bottom: 10px;
}

.card-title {
    width: fit-content;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: baseline;
    padding-left: 15px;
    font-size: clamp(15px, 18px, 25px);
}

.card-options {
    /* border: 1px solid red; */
    border-top-right-radius: inherit;
    height: 100%;
    padding: 2px;
    display: flex;
    flex-basis: fit-content;
    flex-grow: 1;
    align-items: center;
    justify-content: end;
    padding-right: 15px;
    color: white;
    font-size: clamp(10px, 15px, 20px);
}


.card-content {
    /* border: 1px solid yellow; */
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

/* ?????????????????????????????????????????????????????????????????????????????? */



.card-options>button {
    border: none;
    background: transparent;
    color: #1FCB4F;
    border: .5px solid #1FCB4F;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.card-options>button:hover {
    background-color: #1FCB4F;
    color: white;
}

/*  */
#container-1 {
    align-self: flex-start;
    flex: none;
    width: 100%;
    flex: 0 0 fit-content;
    height: fit-content;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: baseline;
    padding: 5px;
    row-gap: 25px;
    order: 1;
}

.wallet-cards {
    flex-direction: row;
    width: 214.82px;
    height: 95.75px;

}

.wallet-icn {
    color: #1FCB4F  ;
    padding: 10px;
    background-color: #282C35;
    border-radius: 10px;
}

.wallet-card-title {
    flex-direction: column;
    flex-grow: 1;
    align-items: baseline;
    padding: 5px;
    padding-left: 15%;
    justify-content: space-evenly;
}

.wallet-title {
    font-size: 12px;
    color: #9E9E9E;

}

.wallet-price {
    font-size: 26px;
}

/*  */
#container-2 {
    order: 2;
    flex: none;
    align-self: flex-end;
    height: fit-content;
    justify-content: space-between;
    width: 100%;
    flex-flow: row wrap;
    row-gap: 25px;
    padding: 5px;
}

/*  */
#container-2-1 {
    width: fit-content;
    height: 100%;
    flex: none;
    flex-direction: column;
    gap: 10px;
}

#line-chart {}

.chart-opt {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
    /* border: 1px solid white; */
    color: white;
    font-size: 10px;
    width: 100%;
}

.chart-opt>div:first-child,
.chart-opt>div:nth-child(3) {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
}

.chart-opt>div:first-child {
    background-color: #1FCB4F;
}

.chart-opt>div:nth-child(3) {
    background-color: #FFC01E;
}

.chart-opt>span {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-items: end;
    padding-left: 10px;
    padding-right: 10px;
    /* border: 1px solid white; */
    flex-basis: fit-content;
}


#drpdwn {
    padding-left: 10px;
    width: 25%;
    display: inherit;
    align-items: center;
    justify-content: end;
    font-size: 10px;
}

#drpdwn>select {
    border-radius: 5px;
    background-color: var(--color-60);
    color: #9A9A9A;
    font-size: 10px;
    padding: 5px;
}



.chart {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 5px;
}

.chart>img {
    display: flex;
    flex-grow: 1;
}

/*  */
#container-2-1-1 {
    height: fit-content;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 0%;
    gap: 10px;
}

#bar-chart {
    height: 100%;
}

#progress-card {
    height: 100%;
    width: 294.75px;
    flex-grow: 1;
}

#progress-card>.card-content {
    padding: 0%;
}

#prgrslist {
    height: 100%;
    width: 100%;
    /* padding: 15px; */
    padding-right: 35px;
    color: white;
    font-size: 10px;
    flex-grow: 1;
    justify-content: space-evenly;
}

.progress-card-list-content {
    padding: 5px;
    height: 25%;
}

.prgrsicn {
    border-radius: 10px;
    padding: 5px;
    padding-top: 7px;
    padding-bottom: 0px;
    background-color: #282C35;
}

.list-content {
    display: flex;
    flex-direction: column;
    align-items: baseline;

    justify-content: space-evenly;
    flex-grow: 1;
    height: 100%;
    padding-left: 15px;
}

.list-head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-head>label:last-child {
    display: flex;
    align-items: center;
    justify-content: end;
}

.list-head>label>p {
    color: #A9A9A9;
}

#prgrsbr {
    display: block;
    position: relative;
    height: 5px;
    width: 100%;
    border-radius: 2px;
    background-color: #282C35;
    /* border: 1px solid white; */
}

#prgrsbr>div {
    height: inherit;
    background-color: #1FCB4F;
    width: 40%;
}



/*  */

#container-2-2 {
    width: fit-content;
    height: 100%;
    flex-direction: column;
    flex: none;
    justify-content: space-between;
    gap: 10px;
}

#credit-card {
    height: 246.46px;
    width: 294.75px;
}

#credit-card-icn {
    border: none;
    background-color: #282C35;
    padding: 5px;
}

#credit-head {
    background-color: #282C35;
    min-height: 107.78px;
    min-width: 261.45px;
    width: 100%;
    height: 80%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-evenly;
    padding: 20px;
    font-size: 17px;
}

.crdcredit-head-content {
    display: flex;
    align-items: baseline;
    justify-content: center;
    width: 100%;
}

#accno {
    font-size: 15px;
}

#credit-bal {
    background-color: #3E4149;
    min-height: 54.12px;
    min-width: 261.45px;
    width: 100%;
    height: 20%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
}

#credit-bal>span {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#credit-bal>span>label {
    font-size: 7px;
    opacity: .5;
}

#transaction-card {
    width: 100%;
    height: 315.57px;
    flex-grow: 1;
    justify-content: space-between;
}

#transaction-card>.card-nav {
    padding-bottom: 0%;
    height: 15%;
}

#transaction-card>.card-nav>.card-options {
    width: 30%;
    justify-content: end;
    color: #1FCB4F;
    font-size: 12px;
    cursor: pointer;
    padding: 0%;
}

#transaction-card>.card-content {
    padding: 0%;
    flex-grow: 1;
}

#transaction-list {
    padding: 10px;
    padding-left: 0%;
    padding-right: 0%;
    height: 100%;
    width: 100%;
    flex-grow: 1;
    color: white;
    font-size: 12px;
    justify-content: space-evenly;
}

.transaction-list-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    /* border: 1px solid white; */
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 10px;
    border-bottom: .5px solid #383838;
}

.profl-name {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding: 1px;
    padding-left: 10px;
}

.profl-name>label {
    font-size: 10px;
    color: #9E9E9E;
}

.transaction-list-price {
    display: flex;
    align-items: center;
    justify-content: end;
    color: #1FCB4F;
    height: 100%;
    /* border: 1px solid red; */
}

#transaction-list>li:nth-child(n+2):nth-child(-n+4)>.transaction-list-price {
    color: #FFC01E;
}

#transaction-list>li:nth-child(1):nth-child(-n+1)>.transaction-list-price {
    color: #1FCB4F;
}

/* =========================================================================================== */

#container-1,
#container-2 {
    padding-left: clamp(4%, 9%, 10%);
    padding-right: clamp(4%, 9%, 10%);
}

#container-2-1,
#container-2-2 {
    padding: 0%;
}


/* /////////////////////////////////////// Hover  /////////////////////////////////////////////////// */
.side-bar-hover:hover {
    color: #1FCB4F;
    cursor: pointer;
}

.card:hover,
#notify-icn:hover,
#header-profl:hover,
#credit-card-icn:hover {

    box-shadow: 0 0 5px 2px #00ff4879;
}

#search-bar>img,
/* .card:hover, */
#notify-icn:hover,
#header-profl:hover,
#drpdwn>select,
#transaction-card-nav>span:last-child:hover,
#credit-card-icn:hover {
    cursor: pointer;
}


/* =============================== Icons  ============================================== */
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
}

.material-symbols-sharp {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' ;
  opacity: .5;
  font-size:larger;
}


.material-symbols-rounded {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.material-symbols-rounded:hover,
.material-symbols-outlined:hover {
    color: #1FCB4F;
    cursor: pointer;
}

/* ++++++++++++++++++++++++ Media Query ++++++++++++++++++++++++++++++++++ */


@media screen and (max-width: 900px) {
    .card-container {
        flex-flow: column wrap;
    }

    .card {
        width: 50%;
    }
}

@media screen and (max-width: 450px) {
    .card-container {
        flex-flow: column nowrap;
    }

    .card {
        width: 100%;
        height: 60%;
    }
}